<!DOCTYPE html>
<html>
  <head>
    <title>New York State Poverty as Determined by Statewide Food Inspection</title>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src='/static/js/boroughs.js'></script>
    <script src='/static/js/zipcode.js'></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Own CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/pricing.css">
    


  </head>

  <body>
    <center>
      <div class="row">
        <div class="col-8">
          <h1>New York State Poverty as Determined by Statewide Food Inspection</h1>
          <br>
          <div id="container">
            <div id="map" class="block">
              <svg></svg>
              <p>Use arrow keys to move around</p>
            </div>
	  </div>

          <div class="slidecontainer">
            <input type="range" min="2014" max="2017" value="2014" class="slider" id="yearRange">
            <p>Current Year: <span id="year"></span></p>
          </div>
        </div>

        <div class="col-sm">
          <center>
            <br><br><br><br><br><br><br>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Selected Demographics</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="tax">
                  <label class="form-check-label" for="defaultCheck1"> Average Income Tax </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="race">
                  <label class="form-check-label" for="defaultCheck1"> Race/Ethnicity </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="age">
                  <label class="form-check-label" for="defaultCheck1"> Age </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="gender">
                  <label class="form-check-label" for="defaultCheck1"> Gender </label>
                </div>
              </ul>
              <button type="button" class="btn btn-sm btn-block btn-outline-primary"> Show Results </button>
            </div>
          </div>
        </center>
        </div>
      </div>
      <br>
      Note: Data aquired from
      <a href="https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2015-zip-code-data-soi">here</a>
      and
      <a href="https://catalog.data.gov/dataset/dohmh-new-york-city-restaurant-inspection-results">here</a>

    </center>
    
    <script src="static/js/index.js"></script>
       
  </body>

</html>
